In [1]:
#Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
#URL of page to be scraped
NASA_Mars_url = 'https://mars.nasa.gov/news/'

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless = False)

In [4]:
#Create BeautifulSoup object; parse with 'html.parser'
browser.visit(NASA_Mars_url)
news_title = browser.find_by_css('.grid_gallery.list_view .content_title').text

news_p = browser.find_by_css('.article_teaser_body').text

print (news_title)
print (news_p)

InSight Captures Sunrise and Sunset on Mars
InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day.

In [5]:
#Examine the results, then determine element that contains sought info

In [6]:
#JPL MARS SPACE IMAGES - FEATURED IMAGE

In [7]:
JPLMarsSpaceImageURL = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(JPLMarsSpaceImageURL)
browser.click_link_by_partial_text('FULL IMAGE')
browser.is_text_present('more info', wait_time=10)
browser.click_link_by_partial_text('more info')

In [8]:
#print out the html of the browser we are looking at at the moment
html = browser.html
splintersoup = BeautifulSoup(html, 'lxml')
#print(splintersoup.prettify())

In [9]:
#searched for the largesize text via ctrl f, and found one item. Now just to save that href in a variable
partOfImageURLS = splintersoup.find('figure', class_='lede').find('a')['href']
originalURL = "https://www.jpl.nasa.gov"

featured_image_url = f"{originalURL}{partOfImageURLS}"

In [10]:
#MARS WEATHER
#Have a varaible for the Mars Weather Twitter
MarsWeatherURL = 'https://twitter.com/marswxreport?lang=en'

In [11]:
TwitterMarsWeather = "https://twitter.com/marswxreport?lang=en"
browser.visit(TwitterMarsWeather)
mars_weather = browser.find_by_css('.tweet').first.find_by_tag('p').text
mars_weather

'InSight sol 155 (2019-05-04) low -99.3ºC (-146.8ºF) high -18.8ºC (-1.8ºF)\nwinds from the SW at 4.5 m/s (10.1 mph) gusting to 14.3 m/s (31.9 mph)\npressure at 7.40 hPa'

In [12]:
Mars_Facts = "https://space-facts.com/mars/"
tables = pd.read_html(Mars_Facts)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [13]:
df = tables[0]
df.columns = ["","value"]
df.set_index("", inplace=True)
df

                                              value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [14]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [15]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>value</th>    </tr>    <tr>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [16]:
MarsHemispheres = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(MarsHemispheres)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')
results = soup.find_all('div', class_='item')
x = 0

hemisphere_image_urls = []

for result in results:
    browser.visit(MarsHemispheres)
    browser.find_by_tag('h3')[x].click()
    
    html_inside_loop = browser.html
    loop_soup = BeautifulSoup(html_inside_loop, 'lxml')
    title = browser.find_by_css('.title').text
    
    part_of_url = loop_soup.find('img', class_='wide-image')['src']
    MarsHemispheres_url = 'https://astrogeology.usgs.gov'
    image_url = f"{MarsHemispheres_url}{part_of_url}"
    hemisphere_image_url = {
        'title': title,
        'img_url': image_url
        }

    hemisphere_image_urls.append(hemisphere_image_url)
    x = x + 1
print (hemisphere_image_urls)

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]